.primary {
  background-color: $primary-color;
  color: white;
  padding: 0.6rem;
  border: none;
  border-radius: 0.3rem;
  width: 90%;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1rem 0px;
}

.small {
  width: 7rem;
}

.full {
  width: 90%;
}
