// Colors
$primary-color: #3498db;
$secondary-color: #b12704;
$border-primary-color: #ddd;

// Typography

$small-font-size: 16px;
$medium-font-size: 24px;
$heading-font-family: "Roboto", sans-serif;
$body-font-family: "Open Sans", sans-serif;
